$xs-max-width: 767px;
$sm-min-width: 768px;
$sm-max-width: 991px;
$md-min-width: 992px;
$md-max-width: 1199px;
$lg-min-width: 1200px;

@mixin respond-to($media-screen) {
    @if $media-screen == phone {
        @media only screen and (max-width: $xs-max-width) {
            @content;
        }
    } @else if $media-screen == tablet {
        @media only screen and (min-width: $sm-min-width) and (max-width: $sm-max-width) {
            @content;
        }
    } @else if $media-screen == small_screen {
        @media only screen and (min-width: $md-min-width) and (max-width: $md-max-width) {
            @content;
        }
    } @else if $media-screen == large_screen {
        @media only screen and (min-width: $lg-min-width) {
            @content;
        }
    }
}

@mixin respond-to-at-least($media-screen) {
    @if $media-screen == phone {
        @media only screen and (max-width: $xs-max-width) {
            @content;
        }
    } @else if $media-screen == tablet {
        @media only screen and (max-width: $sm-max-width) {
            @content;
        }
    } @else if $media-screen == small_screen {
        @media only screen and (max-width: $md-max-width) {
            @content;
        }
    } @else if $media-screen == large_screen {
        @media only screen and (min-width: $lg-min-width) {
            @content;
        }
    }
}
