$header-height: 60px;

$vw-annual-color: #00bcb4;
$vw-annual-color-orange: #ff8200;

$border-color: #e9e9e9;
$text-primary-color: #605d62;
$text-secondary-color: #bababa;
$thumb-shadow-color: #d6d6d6;
$thumb-shadow: 1px 1px 1px $thumb-shadow-color, -1px 0 1px $thumb-shadow-color;
$vw-grey: #898d8d;
