@import '~scss/utils/variables';
@import '~scss/utils/responsive';

@import '~normalize.css/normalize.css';

html,
body {
    /* Reduce the default font size a bit when on mobile */
    @include respond-to(phone) {
        font-size: 13px !important;
    }
    height: 100%;
    width: 100%;
    overflow: hidden;

    color: $text-primary-color;
    font: 15px helvectica, sans-serif;
}

/* Handle box-sizing to make padding be displayed inside the objects */
html {
    box-sizing: border-box;
}
   
*,
*:before,
*:after {
    box-sizing: inherit;
}

#root {
    height: 100%;
    width: 100%;
}